# {{ ansible_managed }}
---
name: {{ pangolin_compose_project_name }}

services:

  pangolin:
    image: {{ pangolin_pangolin_image }}:{{ pangolin_pangolin_version }}
    container_name: {{ pangolin_compose_project_name }}_pangolin
    restart: {{ pangolin_container_restart_policy }}
    deploy:
      resources:
        limits:
          memory: 1g
        reservations:
          memory: 256m
    volumes:
      - ./config:/app/config
    environment:
      - TZ={{ pangolin_timezone }}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3001/api/v1/"]
      interval: "3s"
      timeout: "3s"
      retries: 15

  gerbil:
    image: {{ pangolin_gerbil_image }}:{{ pangolin_gerbil_version }}
    container_name: {{ pangolin_compose_project_name }}_gerbil
    restart: {{ pangolin_container_restart_policy }}
    depends_on:
      pangolin:
        condition: service_healthy
    command:
      - --reachableAt=http://gerbil:3004
      - --generateAndSaveKeyTo=/var/config/key
      - --remoteConfig=http://pangolin:3001/api/v1/
    volumes:
      - ./config/:/var/config
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    ports:
      - 51820:51820/udp
      - 21820:21820/udp
      - 443:443
      - 80:80
    environment:
      - TZ={{ pangolin_timezone }}

  traefik:
    image: {{ pangolin_traefik_image }}:{{ pangolin_traefik_version }}
    container_name: {{ pangolin_compose_project_name }}_traefik
    restart: {{ pangolin_container_restart_policy }}
    network_mode: service:gerbil
    depends_on:
      pangolin:
        condition: service_healthy
    command:
      - --configFile=/etc/traefik/traefik_config.yml
    volumes:
      - ./config/traefik:/etc/traefik:ro
      - ./config/letsencrypt:/letsencrypt
    environment:
      - TZ={{ pangolin_timezone }}

networks:
  default:
    driver: bridge
    name: {{ pangolin_docker_network }}
    enable_ipv6: true
