[Interface]
PrivateKey = {{ wg_server_private_key }}
Address = {{ wg_address }}
ListenPort = {{ wg_listen_port }}
PostUp = iptables -t nat -A POSTROUTING -o $(ip route show default | awk '{print $5}') -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -o $(ip route show default | awk '{print $5}') -j MASQUERADE

{% for peer in wg_peers %}
# {{ peer.name }}
[Peer]
PublicKey = {{ peer.public_key }}
PresharedKey = {{ peer.psk }}
AllowedIPs = {{ peer.ip }}
PersistentKeepalive = 25

{% endfor %}