CTFD_SECRET_KEY={{ lookup("env", "CTFD_SECRET_KEY") }}

DB_PASSWORD={{ lookup("env", "DB_PASSWORD") }}

MAIL_SERVER={{ lookup("env", "MAIL_SERVER") }}
MAIL_USERNAME={{ lookup("env", "MAIL_USERNAME") }}
MAIL_PASSWORD={{ lookup("env", "MAIL_PASSWORD") }}